.openUpLeftOut {
  animation-name: openUpLeftOut;
  animation-name: openUpLeftOut;
}

@keyframes openUpLeftOut {
  0% {
    opacity: 1;
    transform-origin: top left;
    transform-origin: top left;
    transform: rotate(0deg);
    transform: rotate(0deg);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    transform-origin: top left;
    transform-origin: top left;
    transform: rotate(110deg);
    transform: rotate(110deg);
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

@keyframes openUpLeftOut {
  0% {
    opacity: 1;
    transform-origin: top left;
    transform-origin: top left;
    transform: rotate(0deg);
    transform: rotate(0deg);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    transform-origin: top left;
    transform-origin: top left;
    transform: rotate(110deg);
    transform: rotate(110deg);
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
