.openDownRightOut {
  animation-name: openDownRightOut;
  animation-name: openDownRightOut;
}

@keyframes openDownRightOut {
  0% {
    opacity: 1;
    transform-origin: bottom right;
    transform-origin: bottom right;
    transform: rotate(0deg);
    transform: rotate(0deg);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    transform-origin: bottom right;
    transform-origin: bottom right;
    transform: rotate(110deg);
    transform: rotate(110deg);
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

@keyframes openDownRightOut {
  0% {
    opacity: 1;
    transform-origin: bottom right;
    transform-origin: bottom right;
    transform: rotate(0deg);
    transform: rotate(0deg);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    opacity: 0;
    transform-origin: bottom right;
    transform-origin: bottom right;
    transform: rotate(110deg);
    transform: rotate(110deg);
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
