.slideRight {
  animation-name: slideRight;
  animation-name: slideRight;
}

@keyframes slideRight {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(100%);
    transform: translateX(100%);
  }
}
