.slideRightReturn {
  animation-name: slideRightReturn;
  animation-name: slideRightReturn;
}

@keyframes slideRightReturn {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideRightReturn {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }
}
