.slideLeft {
  animation-name: slideLeft;
  animation-name: slideLeft;
}

@keyframes slideLeft {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
