.slideLeftReturn {
  animation-name: slideLeftReturn;
  animation-name: slideLeftReturn;
}

@keyframes slideLeftReturn {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideLeftReturn {
  0% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    transform-origin: 0 0;
    transform-origin: 0 0;
    transform: translateX(0%);
    transform: translateX(0%);
  }
}
