.bombLeftOut {
  animation-name: bombLeftOut;
  animation-name: bombLeftOut;
}

@keyframes bombLeftOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    transform: rotate(0deg);
    filter: blur(0);
    filter: blur(0);
  }

  50% {
    opacity: 1;
    transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    transform: rotate(-160deg);
    transform: rotate(-160deg);
    filter: blur(0);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    transform: rotate(-160deg);
    transform: rotate(-160deg);
    filter: blur(20px);
    filter: blur(20px);
  }
}

@keyframes bombLeftOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
    transform: rotate(0deg);
    filter: blur(0);
    filter: blur(0);
  }

  50% {
    opacity: 1;
    transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    transform: rotate(-160deg);
    transform: rotate(-160deg);
    filter: blur(0);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    transform: rotate(-160deg);
    transform: rotate(-160deg);
    filter: blur(20px);
    filter: blur(20px);
  }
}
