.open-up-right {
  animation-name: open-up-right;
}

@keyframes open-up-right {
  0% {
    transform-origin: top right;
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  100% {
    transform-origin: top right;
    transform: rotate(-110deg);
    animation-timing-function: ease-in-out;
  }
}

