.openDownLeft {
  animation-name: openDownLeft;
  animation-name: openDownLeft;
}

@keyframes openDownLeft {
  0% {
    transform-origin: bottom left;
    transform-origin: bottom left;
    transform: rotate(0deg);
    transform: rotate(0deg);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    transform-origin: bottom left;
    transform-origin: bottom left;
    transform: rotate(-110deg);
    transform: rotate(-110deg);
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

@keyframes openDownLeft {
  0% {
    transform-origin: bottom left;
    transform-origin: bottom left;
    transform: rotate(0deg);
    transform: rotate(0deg);
    animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    transform-origin: bottom left;
    transform-origin: bottom left;
    transform: rotate(-110deg);
    transform: rotate(-110deg);
    animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
