.magic {
  animation-name: magic;
  animation-name: magic;
}

@keyframes magic {
  0% {
    opacity: 1;
    transform-origin: 100% 200%;
    transform-origin: 100% 200%;
    transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform-origin: 200% 500%;
    transform-origin: 200% 500%;
    transform: scale(0, 0) rotate(270deg);
    transform: scale(0, 0) rotate(270deg);
  }
}

@keyframes magic {
  0% {
    opacity: 1;
    transform-origin: 100% 200%;
    transform-origin: 100% 200%;
    transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform-origin: 200% 500%;
    transform-origin: 200% 500%;
    transform: scale(0, 0) rotate(270deg);
    transform: scale(0, 0) rotate(270deg);
  }
}
