.swap {
  animation-name: swap;
  animation-name: swap;
}

@keyframes swap {
  0% {
    opacity: 0;
    transform-origin: 0 100%;
    transform-origin: 0 100%;
    transform: scale(0, 0) translate(-700px, 0);
    transform: scale(0, 0) translate(-700px, 0);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
}

@keyframes swap {
  0% {
    opacity: 0;
    transform-origin: 0 100%;
    transform-origin: 0 100%;
    transform: scale(0, 0) translate(-700px, 0);
    transform: scale(0, 0) translate(-700px, 0);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    transform: scale(1, 1) translate(0, 0);
    transform: scale(1, 1) translate(0, 0);
  }
}
