.spaceInRight {
  animation-name: spaceInRight;
  animation-name: spaceInRight;
}

@keyframes spaceInRight {
  0% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transform: scale(0.2) translate(200%, 0%);
    transform: scale(0.2) translate(200%, 0%);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
}

@keyframes spaceInRight {
  0% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transform: scale(0.2) translate(200%, 0%);
    transform: scale(0.2) translate(200%, 0%);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);
  }
}
